parameters:
    level: 1
    paths:
        - ../helpers
        - ../src
        - ../tests
    scanFiles:
        - constants.php
        - ../vendor/nails/common/src/Common/CodeIgniter/Core/Common.php
    scanDirectories:
        - ../vendor/codeigniter/framework/system/helpers
        - ../vendor/nails/common/helpers
        - ../vendor/nails/module-auth/helpers
